.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ee9c32;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbarcolor {
  background-color: green;
}

.anchor {
  color: white;
  text-decoration: none;
  text-transform: none;
  
}

.anchor:hover {
  color: red;
}

.align {
  text-align: left;
}

.align1 {
  text-align: right;
}

.homecss {
  margin: 15px 0px 15px 0px;
}

.homediv {
  margin: 50px 0px 50px 0px;
  text-align: left;
}

.Footer {
  background-color: forestgreen;
  color: white;
  padding: 40px;
}

.Footercss {
  color: white;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
}

.Footercss:hover {
  color: red;
}

.last {
  margin: 50px 0px 0px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
